@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css or App.css */

body {
  /* Apply the scrollbar styles */
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333; /* Dark background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Darker background for scrollbar thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Even darker on hover */
}

/* Custom scrollbar for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}
